!pip install pandas

In [3]:
import pandas as pd

panda is build on 2 type of data structure 
1.Series ->one dimensional (like single column in python)
2.DataFrame ->two dimensional like a full spraed sheet or sql

In [5]:
pd.Series([45,50,43,32,46,56])

0    45
1    50
2    43
3    32
4    46
5    56
dtype: int64

In [6]:
s=pd.Series([45,50,43,32,46,56])

In [7]:
type(s)

pandas.core.series.Series

In [10]:
s2=pd.Series([45,50,43,32,46,56], index=["Adi","RAM","TONY","JON",'NED','MF'])#predefined indexing 
print(s2)

Adi     45
RAM     50
TONY    43
JON     32
NED     46
MF      56
dtype: int64

In [12]:
s2["Adi"]

np.int64(45)

DataFrame

In [4]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [5]:
pd.DataFrame(data)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [6]:
df= pd.DataFrame(data)

In [8]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')